@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');
@import './typography.scss';
@import './colors.scss';
@import './mixins/responsive';
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

html {
  overflow-x: hidden;
}

body {
  padding-top: 6.875rem;
  @include mobile {
    padding-top: 5rem;
  }
}

.container {
  margin: 0 auto;

  @include desktop {
    max-width: 71.25rem;
  }
  @include tablet {
    max-width: 800px;
  }
  @include mobile {
    max-width: 33.75rem;
  }
}

.padding {
  padding: 0 60px;
  @include tablet {
    padding: 0 40px;
  }
  @include mobile {
    padding: 0 20px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dedede;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $apfco-green;
}
