.md {
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  &-medium {
    font-weight: 500;
  }
  &-semibold {
    font-weight: 600;
  }
}

.xs-normal {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.lg-semibold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
}

.md-semibold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  letter-spacing: -0.02em;
}

.xl-normal {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.sm-bold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
