@import './mixins/responsive';

@mixin fontWeight {
  &-normal {
    font-weight: 400;
    @content;
  }
  &-medium {
    font-weight: 500;
    @content;
  }
  &-semibold {
    font-weight: 600;
    @content;
  }
  &-bold {
    font-weight: 700;
    @content;
  }
}

.xs {
  @include fontWeight {
    font-family: 'Inter';
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.sm {
  @include fontWeight {
    font-family: 'Inter';
    font-style: normal;
    font-size: 0.875rem;
    line-height: 20px;
    @include tablet {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
    @include mobile {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }
}

.md {
  @include fontWeight {
    font-family: 'Inter';
    font-style: normal;
    font-size: 1rem;
    line-height: 24px;
    @include tablet {
      font-size: 0.875rem;
      line-height: 20px;
    }
    @include mobile {
      font-size: 0.875rem;
      line-height: 20px;
    }
  }
}

.xl {
  @include fontWeight {
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.25rem;
    line-height: 30px;
    @include tablet {
      font-size: 1rem;
      line-height: 24px;
    }
    @include mobile {
      font-size: 1rem;
      line-height: 24px;
    }
  }
}

.xxl {
  @include fontWeight {
    font-family: 'Inter';
    font-style: normal;
    font-size: 2.25rem;
    line-height: 40px;
    @include tablet {
      font-size: 1.25rem;
      line-height: 30px;
    }
    @include mobile {
      font-size: 1.25rem;
      line-height: 30px;
    }
  }
}

.lg {
  @include fontWeight {
    font-family: 'Inter';
    font-style: normal;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.02em;
    @include tablet {
      font-size: 2.25rem;
      line-height: 50px;
    }
    @include mobile {
      font-size: 2.25rem;
      line-height: 50px;
    }
  }
}
